html {
  background-color: $white;
}

#global-footer {
  background-color: $nhs-blue;
  color: $white;
}

.footer-container {
  @extend %block;
  @extend %contain-floats;

  padding-top: $leading*3;
  padding-bottom: $leading*6;

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: $white;

    li {
      display: inline;

      &:after {
        content: ' /';
      }
      &:last-child:after {
        content: '';
      }
    }

  }
}
