.data-extract {
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  background: $white;
  color: $grey-1;
  line-height: 1.2;

  + dl {
    margin-left: 10px;
  }

  > div {
    width: 190px;
    height: 190px;
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
  }

  dt {
    text-transform: uppercase;
    font-size: 3.3rem;
    display: block;
    font-weight: 800;

    > span {
      font-size: .9rem;
      display: block;
    }
  }

  dd {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
  }
}

.data-extract--var-1 {
  background-color: $dark-blue;
  color: $white;
}
.data-extract--var-2 {
  background-color: $bright-blue;
  color: $white;
}
