.list__title {
  text-transform: uppercase;
  color: rgba($white, .6);
  font-weight: 400;
  font-size: .9rem;
}

.list__list {
  $_border-color: rgba($white, .4);

  list-style: none;
  padding: 0;
  border-top: 1px solid $_border-color;

  > li {
    border-bottom: 1px solid $_border-color;
    margin: 0;
    padding: 5px 0;
  }
}
