// NHS Colour palette, from http://www.nhsidentity.nhs.uk/

$pure-black: #000000;
$black: #231f20;
$white: #ffffff;

//blues
$blue: #0072C6;
$dark-blue: #00365D;
$light-blue: #0091c9; 

//greys
$light-grey: #d9e1e2;
$grey: #e6e6e6;
$grey-2: rgba(118,134,146,0.2); 
$dark-grey: #425563;

$yellow: #FFED00;
$yellow2: #FFB81C;

$red: #D81E05;
$green: #76BD18;
$dark-green: #6AAB20;
$feedback-button-green: #417505;




$hr-white-30: rgba(white, 0.3);
$opt-out-button-grey: #999999;
$smallprint-grey: #666666;

$feedback-alert-strip: #FFE799;


// Semantic colour names

//blues
$nhs-blue: $blue;
$nhs-light-blue: $light-blue;
$nhs-dark-blue: $dark-blue;

//Greys
$nhs-darkgrey: $dark-grey;
$nhs-lightgrey: $light-grey;

//universal
$page-colour: $white;
$text-colour: #33414c;

//links
$link-colour: $nhs-blue;
$hover-link-colour: $light-blue;
$visited-link-colour: #4c2c92;

$focus-colour: $yellow;
