@import url('http://fast.fonts.net/cssapi/9b44500f-99bc-4b08-a4c9-5711016a5f12.css');

$body: 20px;
$leading: 16px;
$family: 'Neue Frutiger W01', sans-serif;
$bodyweight: 400;
$boldweight: 700;
$heavyweight: 900;

body {
  font-family: $family;
  font-weight: $bodyweight;
  font-size: $body;
  line-height: $leading*2;
}

// Reading width -  should be deprecated
.measure {
  max-width: 34em;
}

h1 {
  margin: 0; padding: $leading 0;
  font-size: 34px;
  font-weight: $bodyweight;
  line-height: $leading*2.5;

  @include media(mid) {
    font-size: 50px;
    line-height: $leading*4;
  }

  @include media(large) {
    font-size: 56px;
    line-height: $leading*4;
  }
}

h2 {
  margin: $leading 0;
  font-size: 30px;
  font-weight: $boldweight;
  line-height: $leading*2.25;

  @include media(mid) {
    font-size: 32px;
    line-height: $leading*3;
  }

  @include media(large) {
    font-size: 36px;
    line-height: $leading*3;
  }
}

h3 {
  margin: $leading 0;
  font-size: 24px;
  font-weight: $boldweight;
  line-height: $leading*2;
}

h4 {
  margin: $leading 0;
  font-size: $body;
  font-weight: $bodyweight;
  line-height: $leading*2;

  @include media(mid) {
  }

  @include media(large) {
  }
}
