{% extends "nhsuk-base.njk" %}

{% block head %}
  {{ super() }}
  <!--[if lt IE 9]>
    <script src="{{ asset_path(relative('assets/js/ie.js')) }}"></script>
  <![endif]-->
{% endblock %}

{% block head_content %}
  <!--[if IE]><link rel="shortcut icon" href="{{ asset_path(relative('assets/images/favicon.ico')) }}"><![endif]-->
  <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
  <link rel="apple-touch-icon" href="{{ asset_path(relative('assets/images/apple-touch-icon.png')) }}">
  <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
  <link rel="icon" href="{{ asset_path(relative('assets/images/favicon.png')) }}">
{% endblock %}

{% block head_stylesheets %}
  <!--[if gt IE 8]><!--><link href="{{ asset_path(relative('assets/css/main.css')) }}" media="screen" rel="stylesheet" type="text/css"><!--<![endif]-->
  <!--[if lt IE 8]><link href="{{ asset_path(relative('assets/css/main-ie7.css')) }}" media="screen" rel="stylesheet" type="text/css"><![endif]-->
  <!--[if IE 8]><link href="{{ asset_path(relative('assets/css/main-ie8.css')) }}" media="screen" rel="stylesheet" type="text/css"><![endif]-->
{% endblock %}

{% block body %}
  {{ super() }}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67365892-8', 'auto');
    ga('send', 'pageview');
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ asset_path(relative('assets/js/main.js')) }}"></script>
{% endblock %}

{% block body_main_content %}
  {{ contents | safe -}}
{% endblock %}
