.work {
    display: block;
    background-color: $nhs-darkgrey;
    background-position:center top;
    background-repeat:no-repeat;
    // background-image: url("/images/work-panel-top-edge.jpg");

}

.work-intro {
    margin-top: $leading*6;
    padding-bottom: $leading*4;
    
    @include media(mid) {
        padding-bottom: none;
    }
    

    >.header  {
        @extend .heading-boldcaps;
        color: $white;
    }

    >.body-copy {
        color: $white;
    }
}

.work-module {

    &.-hero{
        background-color: $nhs-lightgrey;
    }
    
    &.-regular{
        background-color: #f0f4f4;
    }

    >.work-module__header {
        @extend .heading-xxlarge 
    }
}

.module {
    width: 100%;
    float: left;
    padding-right: 5%;
    box-sizing: border-box;
    border-bottom: 1px solid $grey-2 ; 

    >.module--type {
        @extend .heading-allcaps;
        color: rgba($dark-grey, 0.5);
        font-weight: $boldweight;
        font-size: 16px;
        line-height: $leading*1.5;
    }

    >.module--header {
        @extend .heading-xlarge;
    }

    @include media(large) {
        width: 50%;
        min-height: 480px;
        margin-top:$leading;
    }

}

.module--lead {
    @extend .module;
    margin-bottom: $leading*1;
    border-bottom: none; 

    >.module--desc {
        @include media(large) {
            width: 600px;
        }
    }

    >.module--image {
        margin-bottom: $leading*2;
    }

    @include media(large) {
        width: 100%;
    }

}
