{% macro section(id) %}
  <section class="site-section" id="{{ id }}">
    <div class="site-section__container">
      {{ caller() }}
    </div>
  </section>
{% endmacro %}

{% macro listButton(label) %}
  <span class="list__expander" role="button" tabindex="0">{{ label }}</span>
{% endmacro %}
