---
title: Transforming Digital Health
---

{% from '_macros.njk' import section %}

{% call section('s01') %}
<h1>NHS.UK</h1>
<h2>Transforming Digital Health</h2>

<p>
  The NHS is designing a health and care service that better connects people to the information
  and services they need, when they need them. It will give people the tools they need to care for
  themselves and relieve pressure on NHS services.
</p>

<div class="video"></div>
{% endcall %}


{% call section('s02-1') %}
<div class="grid-row">
  <div class="grid-column">
    <h2>How are we doing this</h2>
    <h3>Speak with our users</h3>
    <p>We’ve spoken to over 700 patients, carers and front-line staff. And continue to do so.</p>
  </div>
  <div class="grid-column data-extract__container">
    <dl class="data-extract">
      <div>
        <dt>677</dt>
        <dd>Patients and carers interviewed</dd>
      </div>
    </dl>
    <dl class="data-extract data-extract--var-1">
      <div>
        <dt>55</dt>
        <dd>Clinicians and front-line staff</dd>
      </div>
    </dl>
  </div>
</div>
{% endcall %}


{% call section('s02-2') %}
<div class="grid-row">
  <div class="grid-column">
    .
  </div>
  <div class="grid-column">
    <h3>Understand their needs</h3>
    <p>By understanding user needs we can identify problems and find solutions. This is the basis of everything we
      do.</p>
  </div>
</div>
{% endcall %}


{% call section('s02-3') %}
<div class="grid-row">
  <div class="grid-column">
    <h3>Learn and improve</h3>
    <p>Our work starts small and evolves based on users’ feedback. We make things open. We continue to test and iterate.
      We share, learn and adapt.</p>
  </div>
  <div class="grid-column data-extract__container">
    <dl class="data-extract">
      <div>
        <dt>230</dt>
        <dd>Hours of lab and pop-up research</dd>
      </div>
    </dl>
    <dl class="data-extract data-extract--var-2">
      <div>
        <dt><span>data from over</span> 300K</dt>
        <dd>Beta pageviews</dd>
      </div>
    </dl>
  </div>
</div>
{% endcall %}


{% call section('s03') %}
<h2>Transforming Digital Content</h2>

<p>Relevant, practical and action-focused content and smart sign-posting to services.</p>

<div class="grid-row">
  <div class="grid-column">
    <div class="list">
      <h3 class="list__title">Symptoms and conditions</h3>
      <ul class="list__list">
        <li>
          <span class="list__expander">How to self care</span>
          <ul class="is-collapsed">
            <li><a href="https://beta.nhs.uk/conditions/blisters">Blisters</a></li>
            <li><a href="https://beta.nhs.uk/conditions/cold">Common cold</a></li>
            <li><a href="https://beta.nhs.uk/conditions/constipation">Constipation</a></li>
            <li><a href="https://beta.nhs.uk/conditions/dehydration">Dehydration</a></li>
            <li><a href="https://beta.nhs.uk/conditions/diarrhoea">Diarrhoea</a></li>
            <li><a href="https://beta.nhs.uk/conditions/earache">Earache and pain</a></li>
            <li><a href="https://beta.nhs.uk/conditions/earwax">Earwax build-up</a></li>
            <li><a href="https://beta.nhs.uk/conditions/flu">Flu</a></li>
            <li><a href="https://beta.nhs.uk/conditions/fungal-nail-infection">Fungal nail infection</a></li>
            <li><a href="https://beta.nhs.uk/conditions/hand-foot-and-mouth-disease">Hand, foot and mouth disease</a>
            </li>
            <li><a href="https://beta.nhs.uk/conditions/hay-fever">Hay fever</a></li>
            <li><a href="https://beta.nhs.uk/conditions/head-lice">Head lice</a></li>
            <li>
              <a href="https://beta.nhs.uk/conditions/heat-exhaustion-and-heatstroke">Heat exhaustion and heat
                stroke</a>
            </li>
            <li><a href="https://beta.nhs.uk/conditions/heat-rash">Heat rash</a></li>
            <li><a href="https://beta.nhs.uk/conditions/indigestion">Indigestion</a></li>
            <li><a href="https://beta.nhs.uk/conditions/insect-bites-and-stings">Insect bites and stings</a></li>
            <li><a href="https://beta.nhs.uk/conditions/mouth-ulcers">Mouth ulcers</a></li>
            <li><a href="https://beta.nhs.uk/conditions/nosebleed">Nosebleed</a></li>
            <li><a href="https://beta.nhs.uk/conditions/piles">Piles</a></li>
            <li><a href="https://beta.nhs.uk/conditions/sore-throat">Sore throat</a></li>
            <li><a href="https://beta.nhs.uk/conditions/sprains-and-strains">Sprains and strains</a></li>
            <li><a href="https://beta.nhs.uk/conditions/stye">Stye</a></li>
            <li><a href="https://beta.nhs.uk/conditions/warts">Warts</a></li>
          </ul>
        </li>
        <li>
          <span class="list__expander">When to see a GP</span>
          <ul class="is-collapsed">
            <li><a href="https://beta.nhs.uk/conditions/bacterial-vaginosis">Bacterial vaginosis</a></li>
            <li><a href="https://beta.nhs.uk/conditions/broken-or-bruised-ribs">Broken or bruised ribs</a></li>
            <li><a href="https://beta.nhs.uk/conditions/carpal-tunnel-syndrome">Carpal tunnel syndrome</a></li>
            <li><a href="https://beta.nhs.uk/conditions/cellulitis">Cellulitis</a></li>
            <li><a href="https://beta.nhs.uk/conditions/conjunctivitis">Conjunctivitis</a></li>
            <li><a href="https://beta.nhs.uk/conditions/cough">Cough</a></li>
            <li><a href="https://beta.nhs.uk/conditions/ear-infections">Ear infections</a></li>
            <li><a href="https://beta.nhs.uk/conditions/frozen-shoulder">Frozen shoulder</a></li>
            <li><a href="https://beta.nhs.uk/conditions/glandular-fever">Glandular fever</a></li>
            <li><a href="https://beta.nhs.uk/conditions/hiatus-hernia">Hiatus hernia</a></li>
            <li><a href="https://beta.nhs.uk/conditions/hives">Hives</a></li>
            <li><a href="https://beta.nhs.uk/conditions/impetigo">Impetigo</a></li>
            <li><a href="https://beta.nhs.uk/conditions/insomnia">Insomnia</a></li>
            <li><a href="https://beta.nhs.uk/conditions/iron-deficiency-anaemia">Iron deficiency anaemia</a></li>
            <li><a href="https://beta.nhs.uk/conditions/laryngitis">Laryngitis</a></li>
            <li><a href="https://beta.nhs.uk/conditions/scarlet-fever">Scarlet fever</a></li>
            <li><a href="https://beta.nhs.uk/conditions/shingles">Shingles</a></li>
            <li><a href="https://beta.nhs.uk/conditions/sinusitis">Sinusitis (sinus infection)</a></li>
            <li><a href="https://beta.nhs.uk/conditions/slipped-disc">Slipped disc</a></li>
            <li><a href="https://beta.nhs.uk/conditions/tendonitis">Tendonitis</a></li>
            <li><a href="https://beta.nhs.uk/conditions/thrush">Thrush</a></li>
            <li><a href="https://beta.nhs.uk/conditions/tonsillitis">Tonsillitis</a></li>
            <li><a href="https://beta.nhs.uk/conditions/urinary-tract-infections">Urinary tract infections (UTIs)</a>
            </li>
            <li><a href="https://beta.nhs.uk/conditions/vaginal-discharge">Vaginal discharge</a></li>
          </ul>
        </li>
        <li>
          <span class="list__expander">What to do if you have a symptom</span>
          <ul class="is-collapsed">
            <li><a href="/symptoms/headache">Headache</a></li>
            <li><a href="/symptoms/rashes-in-babies-and-children">Rashes in babies and children</a></li>
            <li><a href="/symptoms/stomach-ache">Stomach ache</a></li>
          </ul>
        </li>
        <li>
          <span class="list__expander">How to prepare for surgery</span>
          <ul class="is-collapsed">
            <li><a href="https://beta.nhs.uk/conditions/hernia">Hernia</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-column">
    <div class="list">
      <h3 class="list__title">Medicines</h3>
      <ul class="list__list">
        <li>
          <span class="list__expander">Know more about medicines</span>
          <ul class="is-collapsed">
            <li><a href="https://beta.nhs.uk/medicines/paracetamol">Paracetamol</a></li>
            <li><a href="https://beta.nhs.uk/medicines/prednisolone">Prednisolone</a></li>
            <li><a href="https://beta.nhs.uk/medicines/citalopram">Citalopram</a></li>
            <li><a href="https://beta.nhs.uk/medicines/salbutamol">Salbutamol</a></li>
            <li><a href="https://beta.nhs.uk/medicines/fluoxetine">Fluoxetine</a></li>
            <li><a href="https://beta.nhs.uk/medicines/sertraline">Sertraline</a></li>
            <li><a href="https://beta.nhs.uk/medicines/venlafaxine">Venlafaxine</a></li>
            <li><a href="https://beta.nhs.uk/medicines/amoxicillin">Amoxicillin</a></li>
            <li><a href="https://beta.nhs.uk/medicines/erythromycin">Erythromycin</a></li>
            <li><a href="https://beta.nhs.uk/medicines/nitrofurantoin">Nitrofurantoin</a></li>
            <li><a href="https://beta.nhs.uk/medicines/trimethoprim">Trimethoprim</a></li>
            <li><a href="https://beta.nhs.uk/medicines/flucloxacillin">Flucloxacillin</a></li>
            <li><a href="https://beta.nhs.uk/medicines/gabapentin/">Gabapentin</a></li>
            <li><a href="https://beta.nhs.uk/medicines/atorvastatin">Atorvastatin</a></li>
            <li><a href="https://beta.nhs.uk/medicines/simvastatin">Simvastatin</a></li>
            <li><a href="https://beta.nhs.uk/medicines/pravastatin">Pravastatin</a></li>
            <li><a href="https://beta.nhs.uk/medicines/lactulose">Lactulose</a></li>
            <li><a href="https://beta.nhs.uk/medicines/senna">Senna</a></li>
            <li><a href="https://beta.nhs.uk/medicines/fybogel">Fybogel</a></li>
            <li><a href="https://beta.nhs.uk/medicines/buscopan">Buscopan</a></li>
            <li><a href="https://beta.nhs.uk/medicines/omeprazole">Omeprazole</a></li>
            <li><a href="https://beta.nhs.uk/medicines/lansoprazole">Lansoprazole</a></li>
            <li><a href="https://beta.nhs.uk/medicines/isotretinoin">Isotretinoin</a></li>
            <li><a href="https://beta.nhs.uk/medicines/gliclazide">Gliclazide</a></li>
            <li><a href="https://beta.nhs.uk/medicines/pregabalin">Pregabalin</a></li>
            <li><a href="https://beta.nhs.uk/medicines/metformin">Metformin</a></li>
            <li><a href="https://beta.nhs.uk/medicines/ibuprofen-adults">Ibuprofen</a></li>
            <li><a href="https://beta.nhs.uk/medicines/zopiclone">Zopiclone</a></li>
            <li><a href="https://beta.nhs.uk/medicines/morphine">Morphine</a></li>
            <li><a href="https://beta.nhs.uk/medicines/naproxen">Naproxen</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="list">
      <h3 class="list__title">GP Information</h3>
      <ul class="list__list">
        <li>How to access GP services</li>
      </ul>
    </div>
  </div>
</div>
{% endcall %}


{% call section('s04') %}
<h2>Transforming Services & Transactions</h2>

<p>User centred services and prototypes we are testing in public.</p>

<div class="grid-row">
  <div class="grid-column">
    <div class="service-block">
      <h3 class="service-block__title">I need to register with a GP</h3>
      <div class="service-block__phase">Beta</div>
      <p>Simplifying the process of registering with a GP.</p>
    </div>
  </div>
  <div class="grid-column">
    <div class="service-block">
      <h3 class="service-block__title">I need to know where to get help</h3>
      <div class="service-block__phase">Beta</div>
      <p>Connecting people with the services they need, when they need them.</p>
      <p class="service-block__link">
        <a href="https://beta.nhs.uk/finders/find-help" class="button">Find a pharmacy</a>
      </p>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="grid-column">
    <div class="service-block">
      <h3 class="service-block__title">I need to book a GP appointment</h3>
      <div class="service-block__phase">Beta</div>
      <p>Getting access to primary care.</p>
      <p class="service-block__link">
        <a href="#" class="button">Book an appointment</a>
      </p>
    </div>
  </div>
  <div class="grid-column">
    <div class="service-block">
      <h3 class="service-block__title">I need to manage a long-term condition</h3>
      <div class="service-block__phase">Alpha</div>
      <p>Help patients understand and manage long term conditions</p>
      <p class="service-block__link">
        <a href="http://nhsalpha.herokuapp.com/planner/start" class="button">Diabetes planner</a>
      </p>
    </div>
  </div>
</div>
{% endcall %}


{% call section('s05') %}
<h2>Transforming Access</h2>

<div class="grid-row">
  <div class="grid-column">
    <div class="callout callout--info">
      <h3>Apps Library</h3>
      <p>NHS approved apps and wearables.</p>
      <p class="callout__link">
        <a href="#">Visit the Apps Library</a>
      </p>
    </div>
  </div>
  <div class="grid-column">
    <div class="callout callout--info">
      <h3>NHS Wifi</h3>
      <p>Providing free wifi in GP surgeries in partnership with Doteveryone.</p>
      <p class="callout__link">
        <a href="#">Visit the Wifi page</a>
      </p>
    </div>
  </div>
</div>
{% endcall %}
