.list__title {
  text-transform: uppercase;
  color: $blue-50;
  font-weight: 600;
  font-size: 16px;
}

.list {
  ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    transition: 200ms;
  }

  li {
    margin: 0;
  }

  a:hover {
    text-decoration: none;
    color: $blue-50;
  }
}

.list__list {
  border-top: 1px solid $blue-50;
}

.list__item {
  border-bottom: 1px solid $blue-50;
  padding: 10px 0;

  li {
    padding: 2px 0;
  }
}

.js-enabled .list__expander {
  display: block;
  background: none;
  padding: 4px 25px 4px 4px;
  margin: -4px;
  font-weight: 600;
  font-size: 20px;
  color: inherit;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  position: relative;

  &:before {
    content: "+";
    position: absolute;
    font-size: 30px;
    line-height: 15px;
    top: 11px;
    right: 5px;
  }

  &.is-expanded:before {
    content: "−";
  }

  &:hover {
    color: $blue-50;
  }

  &:focus {
    outline: 3px solid $focus-colour;
  }
}
