#global-header {
}

.header-container {
  @extend %block;
  @extend %contain-floats;
  padding-top: $leading;
  padding-bottom: $leading;

  @include media(500px) {
    padding-top: $leading*1.5;
    padding-bottom: $leading;
  }

}

.header-logo {
  display: block;
  float: left;

  img {
    display: block;
  }
}
