.header-container {
  @extend %block;
  @extend %contain-floats;
  padding-top: $leading;
  padding-bottom: $leading;

  @include media(500px) {
    padding-top: $leading*1.5;
    padding-bottom: $leading;
  }
}

.global-header--link {
  background: url("../images/nhs-logo-rgb-blue.png") no-repeat; //logotype-nhs-colour.png
  background-size: contain;
  display: block;
  height: 32px;
  text-indent: -999em;
  width: 79px;

  @include device-pixel-ratio {
    background-image: url("../images/nhs-logo-rgb-blue@2x.png");//logotype-nhs-colour@2x.png
    background-size: 79px 32px;
  }
}
